name: Format
on:
  pull_request:
  push:
    branches: [main]
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v2
      - name: Install JuliaFormatter
        # Using a one-liner to avoid adding it to Project.toml if you prefer
        run: julia -e 'using Pkg; Pkg.add("JuliaFormatter")'
      - uses: julia-actions/julia-format@v4
        with:
        # this lets GitHub automatically fix the formatting and commit it back to the branch
          annotate: true

